@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 120 29% 97%;
  --foreground: 200 13% 23%;
  --card: 0 0% 100%;
  --card-foreground: 200 13% 23%;
  --popover: 0 0% 100%;
  --popover-foreground: 200 13% 23%;
  --primary: 147 50% 36%;
  --primary-foreground: 120 29% 97%;
  --secondary: 171 24% 14%;
  --secondary-foreground: 120 29% 97%;
  --muted: 120 29% 97%;
  --muted-foreground: 200 13% 23%;
  --accent: 147 50% 36%;
  --accent-foreground: 120 29% 97%;
  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 120 29% 97%;
  --border: 147 50% 36% / 20%;
  --input: 147 50% 36% / 20%;
  --ring: 147 50% 36%;
  --success: 147 47% 47%;
  --warning: 43 100% 44%;
  --radius: 0.5rem;
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
  --muted: 240 3.7% 15.9%;
  --muted-foreground: 240 5% 64.9%;
  --popover: 240 10% 3.9%;
  --popover-foreground: 0 0% 98%;
  --card: 240 10% 3.9%;
  --card-foreground: 0 0% 98%;
  --border: 240 3.7% 15.9%;
  --input: 240 3.7% 15.9%;
  --primary: 210 100% 40%;
  --primary-foreground: 211 100% 99%;
  --secondary: 215 28% 25%;
  --secondary-foreground: 0 0% 98%;
  --accent: 240 3.7% 15.9%;
  --accent-foreground: 0 0% 98%;
  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 0 0% 98%;
  --ring: 240 4.9% 83.9%;
  --radius: 0.5rem;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

.bg-success {
  background-color: #28A745;
}

.text-success {
  color: #28A745;
}

.bg-warning {
  background-color: #FFC107;
}

.text-warning {
  color: #FFC107;
}

.bg-danger {
  background-color: #DC3545;
}

.text-danger {
  color: #DC3545;
}